---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">阿珍爱上了阿强 (Live) </h1>
		<p class="mb-4">
			阿珍爱上了阿强<br />
			在一个有星星的夜晚<br />
			飞机从头顶飞过<br />
			流星也划破那夜空<br />
			虽然说人生并没有什么意义<br />
			但是爱情确实让生活更加美丽<br />
			Jane falls in love with john<br />
			On the beautiful starry night<br />
			阿珍生来啊非常生好<br />
			我想到伊就食唔落困唔着<br />
			有一次我约伊去睇电影<br />
			伊想之无想之答应了我<br />
			毕竟我风度翩翩 英俊潇洒<br />
			毕竟我风度翩翩 英俊潇洒<br />
			阿珍生来啊非常生好<br />
			我真的是非常合<br />
			阿珍爱上了阿强<br />
			在一个有星星的夜晚<br />
			飞机从头顶飞过<br />
			流星也划破那夜空<br />
			虽然说人生并没有什么意义<br />
			但是爱情确实让生活更加美丽<br />
			阿珍爱阿强<br />
			剩饭里有只蟑螂<br />
			五条人有六个<br />
			七上八下的九只烧鹅<br />
			流星 砸在我头上<br />
			鸡毛撒了一地<br />
			刚刚说完我爱你<br />
			现在就想忘记<br />
			阿珍没有拔智齿<br />
			阿强生了脚气<br />
			有人听不懂也看不到<br />
			野花里都是蜂蜜<br />
			甜言蜜语都被专业乐迷上了锁<br />
			我问阿科阿科说<br />
			塑料袋里有自我<br />
			想和没有意义的人生相处<br />
			就不要问道路的尽头<br />
			到底是不是孤独<br />
			我也只能对着阿茂的拖鞋保证<br />
			我只是一只小老虎<br />
			绝对不是什么大蝙蝠<br />
			用再多的篇幅<br />
			去描述爱情的美妙<br />
			都比不上一声春天的猫叫<br />
			喵<br />
			阿珍爱上了阿强<br />
			在一个有星星的晚上<br />
			闭上眼睛<br />
			你也能看见月亮<br />
			阿珍爱上了阿强<br />
			在一个有星星的夜晚<br />
			飞机从头顶飞过<br />
			流星也划破那夜空<br />
			虽然说人生并没有什么意义<br />
			但是爱情确实让生活更加美丽<br />
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">技术栈</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://astro.build"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Astro
				</a>:
				<p class="inline-block sm:mt-2">Build fast websites, faster.</p>
			</li>
			<li>
				<a
					href="https://docs.astro.build/en/guides/integrations-guide/image/"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>@astro/image
				</a>:
				<p class="inline-block sm:mt-2">
					An Astro integration for optimising images in Astro projects.
				</p>
			</li>
			<li>
				<a
					href="https://tailwindcss.com"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Tailwind CSS
				</a>:
				<p class="inline-block sm:mt-2">
					Rapidly build modern websites without ever leaving your HTML.
				</p>
			</li>
			<li>
				<a
					href="https://www.markdownguide.org/"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Markdown
				</a>:
				<p class="inline-block sm:mt-2">Simple and easy-to-use markup language.</p>
			</li>
			<li>
				<a
					href="https://mdxjs.com/"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>MDX
				</a>:
				<p class="inline-block sm:mt-2">Markdown for the component era.</p>
			</li>
			<li>
				<a
					href="https://github.com/vercel/satori"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Satori
				</a>:
				<p class="inline-block sm:mt-2">Generating png Open Graph images for blog posts</p>
			</li>
		</ul>
	</section>
</PageLayout>
